@font-face {
    font-family: 'Pyidaungsu';
    src: url('Pyidaungsu.woff2') format('woff2'),
        url('Pyidaungsu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pyidaungsu';
    src: url('Pyidaungsu-Bold.woff2') format('woff2'),
        url('Pyidaungsu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
