@font-face {
  font-family: "MyanmarGantgaw";
  src: url("MyanmarGantGaw.eot"); /* IE9 Compat Modes */
  src: url("MyanmarGantGaw.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyanmarGantGaw.otf") format("opentype"), /* Open Type Font */
    url("MyanmarGantGaw.svg") format("svg"), /* Legacy iOS */
    url("MyanmarGantGaw.ttf") format("truetype"), /* Safari, Android, iOS */
    url("MyanmarGantGaw.woff") format("woff"), /* Modern Browsers */
    url("MyanmarGantGaw.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
