/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MyanmarSquare";
  src: url("MyanmarSquare.eot"); /* IE9 Compat Modes */
  src: url("MyanmarSquare.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyanmarSquare.otf") format("opentype"), /* Open Type Font */
    url("MyanmarSquare.svg") format("svg"), /* Legacy iOS */
    url("MyanmarSquare.ttf") format("truetype"), /* Safari, Android, iOS */
    url("MyanmarSquare.woff") format("woff"), /* Modern Browsers */
    url("MyanmarSquare.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}