/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MyanmarNjaun";
  src: url("MyanmarNjaun.eot"); /* IE9 Compat Modes */
  src: url("MyanmarNjaun.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("MyanmarNjaun.otf") format("opentype"), /* Open Type Font */
    url("MyanmarNjaun.svg") format("svg"), /* Legacy iOS */
    url("MyanmarNjaun.ttf") format("truetype"), /* Safari, Android, iOS */
    url("MyanmarNjaun.woff") format("woff"), /* Modern Browsers */
    url("MyanmarNjaun.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}